body{
    background-color: rgb(54, 54, 54);
}

p{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Arial';
	font-size: 20px;
	color: rgb(233, 111, 23);
    text-align:center;
}

h1{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Arial';
	font-size: 40px;
	color: rgb(233, 111, 23);
    text-align:center;
}

h3{
    font-family:cursive ;
    font-size: 18px;
    text-align: center;
    color: chocolate;
    padding: 5px;
}

.Example h2{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Arial';
	font-size: 20px;
	color: rgb(255, 255, 255);	
	text-align:center;
}
.FormQuestions{
	text-align:center;
}
.FormQuestions label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Arial';
	font-size: 20px;
	color: rgb(233, 111, 23);
	text-align:center;
	display:block;
    margin-top: 10px;
}

.FormQuestions input{
	display:block;
	width: 25%;
	margin-left:500px;
    margin-bottom: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
    color: rgb(240, 248, 255);
}

.FormQuestions textarea{
    background-color: rgb(54, 54, 54);
    color: rgb(240, 248, 255);
}

.FormQuestions button{
	background-color: rgb(73, 73, 73);
	border-radius: 12px;
	font-size: 25px;
	color:chocolate;
    margin: 10px;
}

.FormQuestions button:hover{
    background-color: rgb(211, 159, 62);
    color: black;
    cursor: pointer;
}

.FormQuestions textarea{
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
    color: rgb(240, 248, 255);
}

.Example {
    text-align:center;
}

.Example .btn{
    background-color: rgb(73, 73, 73);
	border-radius: 12px;
	font-size: 25px;
	color:chocolate;
    margin: 10px;
    align-items: center;
}

.Example .btn:hover{
    background-color: rgb(211, 159, 62);
    color: black;
    cursor: pointer;
}
.Sidebar{
    height: 100vh;
    width: max-content;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-right: 2px solid chocolate;
    background-color: rgb(146, 144, 143);
    margin: 0%;
}

#SidebarLogo{
    width: 80px;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
}

.Button{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    background: none;
    border: 0;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.Button:hover{
    background-color: rgb(211, 159, 62);
    color: black;
    cursor: pointer;
}
